section.hero {
  @include span-columns(9);
  background-image: url("../images/piramid.jpg");
  background-size: cover;
  height: 320px;
  padding-top: 5.063em;
  padding-left: 2.25em;
  padding-right: 2.25em;
  h1 {
    color: white;
    font-size: $base-font-size * 2.25;
    text-align: center;
  }
  p {
    text-align: center;
    color: white;
    margin-top: 2.25em;
  }
  button {
    margin: 0 auto;
    display: block;
    width: 50%;
    left: 230px;
    bottom: 60px;
  }
}

section.media, section.research, section.output {
  @include span-columns(9);
  h2 {
    color: $medium-gray;
  }

  li {
    margin-bottom: 1em;
  }
}

section.research {
  img {
    width: 10%;
    vertical-align: middle;
    margin-right: .5em;
    border: 1px solid $action-color;
  }
}

section.media, section.output {
  padding-left: 2.25em;
}

.row {
  @include clearfix;
  @include media($medium-screen) {
    @include shift(3);
  }
  clear: both;
  margin-bottom: 2.25em;
}
