section.hero {
  padding-top: 2.25em;
  padding-bottom: 2.25em;
  @include media($medium-screen) {
    @include span-columns(9);
    padding-top: 5.063em;
    height: 320px;
  }
  background-image: url("../images/piramid.jpg");
  background-size: cover;
  padding-left: 2.25em;
  padding-right: 2.25em;
  h1 {
    color: white;
    font-size: $base-font-size * 1.5;
    @include media($medium-screen) {
      font-size: $base-font-size * 2.25;
    }
    text-align: center;
  }
  p {
    text-align: center;
    color: white;
    margin-top: 1.5em;
    @include media($medium-screen) {
      margin-top: 2.25em;
    }
  }
  button {
    @include media($medium-screen) {
      margin-top: 2.25em;
    }
    margin: 0 auto;
    display: block;
    width: 50%;
  }
}

section.media, section.research, section.output {
  margin-top: 2.25em;
  @include media($medium-screen) {
    @include span-columns(9);
  }
  h2 {
    color: $medium-gray;
    text-align: center;
  }

  li {
    margin-bottom: 2.25em;
  }
}

section.research {
  img {
    width: 10%;
    vertical-align: middle;
    margin-right: .5em;
    border: 1px solid $action-color;
  }
}

section.media, section.output {
  padding-left: 2.25em;
}

.row {
  @include outer-container(90%);
  @include clearfix;
  @include media($medium-screen) {
    @include shift(2);
  }
  margin: 0 auto;
  width: 100%;
  clear: both;
  @include media($medium-screen) {
    margin-bottom: 5.063em;
  }
}
