section.hero {
  @include span-columns(6);
  position: relative;
  background-image: url("../images/piramid.jpg");
  background-size: cover;
  height: 320px;
  padding-left: 2.25em;
  padding-right: 2.25em;
  p {
    color: white;
    margin-top: 3.375em;
    font-size: $base-font-size * 1.5;
  }
  button {
    position: absolute;
    left: 230px;
    bottom: 60px;
  }
}

section.media, section.research, section.output {
  @include span-columns(6);
  h2 {
    color: $medium-gray;
  }

  li {
    margin-bottom: 1em;
  }
}

section.media, section.output {
  padding-left: 2.25em;
}

.row {
  @include clearfix;
  clear: both;
  margin-bottom: 2.25em;
}
