html, body {
 height: 100%;
}

.wrapper {
  @include outer-container;
  min-height: 84.4%;
  height: auto !important;
  height: 100%;
  margin: 2.25em auto -2em;
  @include media($medium-screen) {
    margin: 5.063em auto -4em;
  }
}

.footer-2, .wrapper::after {
  @include media($medium-screen) {
    height: 17em;
  }

  @include media($large-screen) {
    height: 4em;
  }
}

header.pageheader {
  h1 {
    @include media($medium-screen) {
      font-size: $base-font-size * 2.25;
    }
    text-align: center;
    margin-bottom: 2.25em;
  }
}

h2 {
  font-size: $base-font-size * 1.5;
}

h3 {
  font-size: $base-font-size * 1;
  margin-top: 2.25em;
}

p {
  color: darken($light-gray, 40%);
}

section.content {
  padding-bottom: 2.25em;
  @include media($medium-screen) {
    @include span-columns(8);
    padding-right: 2.25em;
  }
  p {
    margin-bottom: 2.25em;
  }
  ul {
    list-style-type: disc;
    list-style-position: inside;
    li {
      margin-bottom: 1.5em;
    }
  }
}

section.media, section.research, section.output {
  margin-top: 2.25em;
  padding-bottom: 2.25em;
  @include media($medium-screen) {
    @include span-columns(9);
  }
  h2 {
    color: $medium-gray;
    text-align: center;
  }

  li {
    margin-bottom: 2.25em;
  }
}

i.fa {
  color: $action-color;
  margin-right: 0.444em;
}
