div.research {
  section.content {
    @include span-columns(8);
    padding-right: 2.25em;
    float: left;
    p {
      margin-bottom: 2.25em;
    }
  }
  aside.sidebar {
    @include span-columns(4);
    float: right;
  }
}

