div.research-project {
  header.pageheader {
    h1 {
      text-align: left;
      margin-bottom: 1em;
    }
  }
  aside.sidebar {
    @include span-columns(4);
    float: right;
  }

  section.content {
    h2 {
      margin-top: 2.25em;
    }
  }
}

