div.research-project {
  @include outer-container(90%);
  header.pageheader {
    h1 {
      @include media($medium-screen) {
        text-align: left;
      }
      margin-bottom: 1em;
    }
  }
  aside.sidebar {
    margin-bottom: 2.25em;
    @include media($medium-screen) {
      @include span-columns(4);
      float: right;
    }
  }

  section.content {
    h2 {
      margin-top: 2.25em;
    }
  }
}

