div.research {
  @include outer-container(90%);

  div.research-list {
    @include media($medium-screen) {
      @include span-columns(12);
    }
    padding-bottom: 2.25em;
  }

  div.research-item {
    @include media($medium-screen) {
      @include span-columns(8 of 12);
      @include shift(2);
    }
    margin-bottom: 3.375em;
    div.content {
      @include media($medium-screen) {
        @include span-columns(6 of 8);
        float: right;
      }

    }
    aside {
      display: none;
      @include media($medium-screen) {
        @include span-columns(2 of 8);
        float: left;
      }
    }
  }
}
