@charset "utf-8";
@import "normalize";

@import "bourbon/bourbon";
@import "base/base";
@import "neat/neat";

@import "partials/nav";
@import "partials/footer";

@import "partials/home";
@import "partials/research";

html, body {
 height: 100%;
}

.wrapper {
  @include outer-container;
  min-height: 84.4%;
  height: auto !important;
  height: 100%;
  margin: 5.063em auto -4em;
}

.footer-2, .wrapper::after {
  height: 17em;

  @include media($large-screen) {
    height: 4em;
  }
}

header.pageheader {
  h1 {
    font-size: $base-font-size * 2.25;
  }
}

.content {
  ul {
    list-style-type: disc;
    li {
      margin-bottom: 1.5em;
    }
  }
}


