<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="javascript:void(0)" class="logo">
      <%= image_tag "logo-ugent-transparent.png" %>
      <h1>Multicultural Procedural Fairness</h1>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="javascript:void(0)">Mission</a></li>
        <li class="nav-link"><a href="javascript:void(0)">People</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Research</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Output</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
