<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <%= image_tag "logo-ugent-transparent.png" %>
      <h1>Multicultural Procedural Fairness</h1>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="/about.html">About</a></li>
        <li class="nav-link"><a href="/people.html">People</a></li>
        <li class="nav-link"><a href="/research.html">Research</a></li>
        <li class="nav-link"><a href="/contact.html">Contact</a></li>
        <li class="nav-link"><a href="/nederlands.html">Nederlands</a></li>
      </ul>
    </nav>
  </div>
</header>
