---
title: About
description: The project runs from October 2016 to 2021, and is a collaboration between researchers in the field of human rights law, social psychology and sociology 
---

<div class="about">
  <header class="pageheader">
    <h1>ABOUT</h1>
  </header>
  <section class="content">
    <p>In diverse societies, multicultural conflicts require a comprehensive approach. This multi-disciplinary research project contributes to the knowledge on addressing multicultural conflicts at the local level. It uses the theory of procedural fairness to enable sustainable conflict-resolution of diversity issues regarding language, culture and religion.</p>
    <p>The project runs from October 2016 to 2021, and is a collaboration between researchers in the field of human rights law (led by prof. dr. <a href="/eva-brems.html">Eva Brems</a>), social psychology (led by prof. dr. <a href="/alain-van-hiel.html">Alain Van Hiel</a>) and sociology (led by prof. dr. <a href="bart-van-de-putte.html">Bart Van De Putte</a>).</p>
    <h2>Researchers in human rights law:</h2>
    <ul>
      <li><a href="/tess-heirwegh.html">Tess Heirwegh</a></li>
      <li><a href="/catherine-van-de-graaf.html">Cathérine Van de Graaf</a></li>
    </ul>
    <h2>Researcher in social psychology:</h2>
    <ul>
      <li><a href="/barbara-valcke.html">Barbara Valcke</a></li>
    </ul>
    <h2>Researcher in sociology:</h2>
    <ul>
      <li><a href="thomas-van-roey.html">Thomas Van Roey</a></li>
    </ul>
    <p>More information on the different research lines can be found under the <a href="/research.html">Research</a>.</p>
  </section><!-- .content -->
  <aside class="sidebar">
    <%= image_tag "piramid.jpg" %>
  </aside>
</div>
