---
title: Barbara Valcke
description: Barbara Valcke is a PhD Research Fellow at the Department of Developmental, Personality and Social Psychology at Ghent University
---

<article class="person">
  <header class="pageheader">
    <h1>Barbara Valcke</h1>
  </header>
  <aside>
    <%= image_tag 'sarah-van-leuven.jpg' %>
  </aside>
  <div class="content">
    <section class="bio">
      <p>Barbara Valcke is a PhD Research Fellow at the Department of Developmental, Personality and Social Psychology at Ghent University. After earning her Master’s degree in Sociology (UGent, Belgium 2013), she obtained a Master’s Degree in Clinical Psychology (UGent, Belgium 2016).</p>
      <p>Barbara did her internship as clinical psychologist at vzw De Kantel, a center for residential youth care in Bruges. After completing her internship, she worked in vzw De Kantel for five months (May – October 2016) as coordinator of the adolescent-group.</p>
      <p>She participates in the multi-disciplinary project ‘Procedural fairness in local approaches to multicultural conflicts’. Her PhD research primarily focuses on the relevance of different levels of self in procedural fairness effects.</p>
    </section><!-- .bio -->
    <section class="contact">
      <h2>Contact</h2>
      <p><i class="fa fa-envelope"></i><a href="mailto:barbara.valcke@ugent.be">Barbara.Valcke@UGent.be</a></p>
    </section><!-- .contact -->
  </div><!-- .content -->
</article>
