<article class="person">
  <header class="pageheader">
    <h1>Barbara Valcke</h1>
  </header>
  <aside>
    <%= image_tag 'sarah-van-leuven.jpg' %>
  </aside>
  <div class="content">
    <section class="bio">
    <p>Barbara Valcke is a PhD Research Fellow in the Department of Developmental, Personality and Social Psychology at Ghent University. After earning her Master’s degree in Sociology at Ghent University (Ghent, Belgium) in 2013, she obtained another Master’s Degree in Clinical Psychology, again at Ghent University in 2016.</p>
    <p>Barbara did her internship in Clinical Psychology at vzw De Kantel, a center for youth welfare in Bruges. After completing her internship, she worked in vzw De Kantel for five months (May – October 2016) as coordinator/psychologist of the adolescent-group.</p>
    <p>She participates in the multi-disciplinary project ‘Procedural fairness in local approaches to multicultural conflicts’. Her PhD research focuses on the relevance of self-levels in procedural fairness effects.</p>
    </section><!-- .bio -->
    <section class="contact">
      <h2>Contact</h2>
      <p><i class="fa fa-envelope"></i><a href="mailto:barbara.valcke@ugent.be">Barbara.Valcke@UGent.be</a></p>
    </section><!-- .contact -->
  </div><!-- .content -->
</article>
