<article class="person">
  <header class="pageheader">
    <h1>Bart Van de Putte</h1>
  </header>
  <aside>
    <%= image_tag 'sarah-van-leuven.jpg' %>
  </aside>
  <div class="content">
    <section class="bio">
      <p>Prof. Bart Van de Putte teaches specialized courses in social demography (‘migration and integration’, ‘seminar in social demography’), besides introductory courses in sociology and courses in general sociology such as ‘social change’. His research focuses at topics in social demography and historical sociology. Of special interest are migration and ethnicity (spatial segregation, emancipation, transnational marriages, …), and marriage and family (partner selection patterns, the romantization of marriage,…). Besides these substantial issues, he is also specialized in the classification of (historical) occupational titles and the construction of class schemes.</p>
    </section><!-- .bio -->
    <section class="contact">
      <h2>Contact</h2>
      <p><i class="fa fa-envelope"></i><a href="mailto:bart.vandeputte@ugent.be">Bart.VandePutte@UGent.be</a></p>
    </section><!-- .contact --> </div><!-- .content -->
</article>
