---
title: Cathérine Van de Graaf
description: Cathérine Van de Graaf is a doctoral research fellow at the Human Rights Centre at Ghent University 
---

<article class="person">
  <header class="pageheader">
    <h1>Cathérine Van de Graaf</h1>
  </header>
  <aside>
    &nbsp;
  </aside>
  <div class="content">
    <section class="bio">
      <p>Cathérine Van de Graaf is a doctoral research fellow at the Human Rights Centre at Ghent University. She completed her Master of Laws at the University of Antwerp (2014). She is enrolled in an LLM International Human Rights Law at the University of Lund and the Raoul Wallenberg Institute.</p>
      <p>Prior to her current position, Cathérine was a junior associate at Xirius Advocaten, where her tasks consisted primarily of writing applications and preparing cases in various matters of administrative and constitutional law.</p>
      <p>Her PhD research focuses on the integration of procedural fairness in local approaches to multicultural conflicts. With this research, she participates in the multi-disciplinary project ‘Procedural fairness in local approaches to multicultural conflicts’, that includes researchers in the fields of human rights, psychology and sociology.</p>
    </section><!-- .bio -->
    <section class="contact">
      <h2>Contact</h2>
      <p><i class="fa fa-envelope"></i><a href="mailto:catherine.vandegraaf@ugent.be">Catherine.VandeGraaf@UGent.be</a></p>
    </section><!-- .contact -->
  </div><!-- .content -->
</article>
