---
title: Contextual variation in procedural fairness and its effects
---

<div class="research">
  <aside class="sidebar">
    <figure>
      <%= image_tag "stairs.jpg" %>
    </figure>
  </aside>
  <section class="content">
    <header class="pageheader">
      <h1>Contextual variation in procedural fairness and its effects</h1>
    </header>
    <p>The first aim is to examine the role of the context of multicultural conflicts for both the salience of procedural fairness criteria and proximal outcomes. We examine both the impact of both the setting type (public, semi-public or private) and the ethnic-cultural composition (cultural and structural variables) of the settings.</p>
    <p>The second aim is to examine whether context might moderate the relationship between procedural fairness and collective outcomes such as in-group trust/identification, organizational trust and shared organizational identification.</p>
    <p>We conduct a large-scale, multilevel, longitudinal survey among the employees, members or clients (= level 1) in at least 50 local multicultural settings (= level 2).We focus on multicultural settings with an expressed need for adaption of the organizational policy in terms of human rights. We assume that all local settings with a certain degree of ethnic-cultural concentration or diversity have the potential to have multicultural conflicts around human rights. Since no sampling frame exist of those local settings, these organizations will be found through key informants from the field, such as diversity managers, union representatives, local politicians or other contacts from civil society. In this way we aim to select settings with ‘manifest’ as well as ‘latent’ conflicts about a variety of themes in order to have the full spectrum of multicultural conflicts. In addition, we envisage variation in the ethnic-cultural and socio-economic context of the settings as well as in the specific groups involved.</p>
    <p>Once we have selected the local settings, (a sample of) both ethnic-cultural majority and ethnic-cultural minority employees/members/clients will be surveyed. We plan to survey the respondents of at least 25 settings two times: once before the organizational decision about the multicultural conflict, and once afterwards. This longitudinal framework will allow us to examine the directionality of effects (which is rather exceptional in sociological research). However, in the other settings where a longitudinal survey is impossible (e.g. when decision is already made or it is not allowed by the board), a retrospective survey will be conducted. The surveys will be carried out in the second half of year 1 (wave 1) and in year 2 (wave 2) and will also be used in research theme 2.</p>
    <h2>Researchers</h2>
    <ul>
      <li><a href="/bart-van-de-putte.html">Bart Van de Putte</a></li>
      <li><a href="/pieter-paul-verhaeghe.html">Pieter-Paul Verhaeghe</a></li>
      <li><a href="thomas-van-roey.html">Thomas Van Roey</a></li>
    </ul>
    <h2>Concepts</h2>
    <p>The central concepts specific for this research line will be measured as follows:</p>
    <ul>
      <li>Structural variables: absolute and relative group sizes and the degree of diversity.</li>
      <li>Cultural variables: for the perceived social distances and ethnic-cultural boundaries, we rely on self-reporting in surveys.</li>
      <li>In-group, organizational and generalized trust.</li>
      <li>Power of a group within an organization can be measured through power-related variables, such as number of employees among senior staff, number of formal representatives (e.g. elected union representatives, student representatives, parents in school associations)</li>
      <li>In-group identifications (e.g. religious identity) and setting-related identifications (e.g. shared school or urban identities) will be measured through scales of collective identity.</li>
    </ul>
  </section><!-- end content div -->
</div><!-- end research div -->
