---
title: Developing local human rights approaches to prevent and address multicultural conflicts
description:
---

<div class="research">
  <aside class="sidebar">
    <figure>
      <%= image_tag "building.jpg" %>
    </figure>
  </aside>
  <section class="content">
    <header class="pageheader">
      <h1>Developing local human rights approaches to prevent and address multicultural conflicts</h1>
    </header>
    <p>This research theme explores the modalities of systematic integration of human rights in the work of municipal authorities. Based on case studies and literature research, the aim is to develop an innovative model envisaging municipal authorities as agents for human rights realization, integrating both procedural fairness (fair process) and distributive fairness (fair outcomes). The study focuses on ex ante approaches, aimed at preventing multicultural conflicts and avoiding human rights infringements, as well as ex post approaches, concerning how to deal with multicultural conflicts after they have arisen.</p>
    <p>We select six Belgian municipalities in which at least one issue has given rise to multicultural tensions during the past three years. We aim for diversity in the case studies in terms of size of the municipality, minorities involved in the tensions, and specific issues that gave rise to the tensions. Moreover we include at least three case studies in which there have been multiple multicultural issues on the agenda during the reference period, and at least two instances of successful containment of multicultural tension. We expect that it will be fairly easy to identify relevant case studies on the basis of media reports as well as through key informants from within the Human Rights Centre’s network of civil society contacts.
    </p>
    <p>Each case study will consist of 3 work packages. The final work package integrates all case studies.</p>
    <h2>WP 1: Detailed document analysis</h2>
    <p>The documents to be analyzed (in addition to the scholarly literature) include municipal rules and policy documents, reports of consultations and of meetings of advisory bodies, documents of local civil society, press releases and media reports.</p>
    <h2>WP 2: Interviews with local stakeholders</h2>
    <p>Interviewees include policy makers, public servants, civil society actors, members of the relevant minority and other relevant stakeholders depending on the type of multicultural conflict at issue (e.g. school principals, police, spokespersons of a religious community etc.). The interviews aim to document stakeholders’ perceptions of what was at stake, and their evaluation of processes and outcomes, including any potential framing in human rights terms.</p>
    <h2>WP 3: Human Rights framing and evaluation of municipal human rights performance</h2>
    <p>Given the novelty of applying a human rights framework to the municipal level, we bring in a panel of  experienced human rights law experts for a half-day ‘framing session’ with respect to each case study. The experts receive factual information about the issue at stake and its local context. They produce a list of topics and questions that will guide the first stage of the human rights analysis. This analysis evaluates the human rights performance of the municipal actors in each case study.</p>
    <h2>WP 4: Toward recommendations for better human rights processes and outcomes at the municipal level</h2>
    <p>In a second stage, we will draw normative conclusions from the joint analysis of the six case studies, i.e. concrete suggestions for improving  guarantees for human rights protection in municipal processes and practices. Finally, we will integrate the results of the procedural fairness analysis of these same case studies that will be conducted under research line 6. This will result in a sophisticated model for a human rights based approach to multicultural tensions and conflicts at the municipal level that maximizes procedural as well as substantive fairness.</p>
  </section>
</div><!-- end research div -->
