---
title: Eva Brems
description: Eva Brems (LL.M. Harvard 1995, Ph.D. KU Leuven 1999) is a Professor of Human Rights Law at Ghent University (Belgium) 
---

<article class="person">
  <header class="pageheader">
    <h1>Eva Brems</h1>
  </header>
  <aside>
    <%= image_tag 'sarah-van-leuven.jpg' %>
  </aside>
  <div class="content">
    <section class="bio">
      <p>Eva Brems (LL.M. Harvard 1995, Ph.D. KU Leuven 1999) is a Professor of Human Rights Law at Ghent University (Belgium), where she founded the Human Rights Centre (http://www.hrc.ugent.be/). Eva has been an activist in several human rights organisations (including as chair of the Flemish chapter of Amnesty International 2006-2010), and a member of the Belgian federal parliament (2010-2014). She was an ERC starting grant holder (2009-2014), and has co-ordinated numerous other research projects in the field of human rights law.</p>
      <p>Her research interests include most areas of human rights law, in European and international law as well as in Belgian and comparative law. Eva has published widely on issues of cultural diversity, in particular as effecting Muslim women in Europe.</p>
    </section><!-- .bio -->
    <section class="contact">
      <h2>Contact</h2>
      <p><i class="fa fa-envelope"></i><a href="mailto:eva.brems">Eva.Brems@UGent.be</a></p>
    </section><!-- .contact --> </div><!-- .content -->
</article>
