---
title: Call for presentations: junior scholar workshop on procedural justice
description: a junior scholar workshop on procedural justice in the context of our joint research project
---

<div class="about">
<header class="pageheader">
<h1>Call for presentations: junior scholar workshop on procedural justice</h1>
<h2>Ghent University, 10 September 2019</h2>
</header>
<section class="content">
  <p>“Since the seminal work of Thibaut and Walker (1975) it is a pervasive finding that people’s fairness judgments are influenced mainly by how fair they consider the procedures used to determine the outcomes (procedural justice). A vast amount of studies have demonstrated that perceived procedural fairness positively affects support and evaluations of authorities, compliance with authorities , behavior, self-esteem, and affective reactions. These and other fair process effects have led social justice researchers to conclude that procedural justice plays a key important role in the psychology of social justice.”</p>
  <p>We are pleased to inform you that the Human Rights Centre, together with the Department of Social Psychology and the Faculty of Political and Social sciences of Ghent University co-organize a junior scholar workshop on procedural justice in the context of our <a href="about.html">joint research project</a>. The event will take place on <strong>Tuesday the 10th of September 2019 in Ghent, Belgium</strong>. The aim of this workshop is to bring together junior scholars to present their current research and to build a network by getting acquainted with researchers from various disciplines who work on the topic of procedural justice.”</p>
  <h2>Workshop format</h2>
  <p>The exact workshop format will depend on the interest in the call and number of selected contributions. We intend to provide junior researchers with an opportunity to discuss empirical and theoretical insights in an informal and an interdisciplinary environment. In addition, there will be room for further discussion of your work with experienced senior researchers in the field. As a keynote speaker, we have invited <a href="https://www.uu.nl/staff/kvandenbos">Prof. Dr. Kees van den Bos</a> (Utrecht University), an expert in the field of social psychology and empirical law studies.</p>
  <h2>Our focus</h2>
  <p>Both quantitative and qualitative contributions from the fields of social psychology, work and organization studies, sociology, criminology, political sciences and law are welcomed. We are especially interested in research topics that connect procedural justice theory to cultural and religious diversity in an organizational and local context. We encourage presentations on papers, case studies, research projects, research questions etc.</p>
  <h2>Submission of abstracts</h2>
  <p>If you are interested in joining our workshop, we kindly ask you to provide us with an abstract (max. 250 words) by the 28th of June. You may e-mail your abstract to <a href="mailto:ProFair@Ugent.be">ProFair@Ugent.be</a>.</p>
  <p>Please do not hesitate to contact us if you need any further information. In case you know other colleagues who might be interested in joining this workshop, feel free to forward this invitation to them. The event is free of charge and includes a complimentary lunch.</p>
</section>
</div>