---
title: Welcome to Middleman
---

<div class="row">
  <section class="hero">
    <p>We examine multicultural conflicts in terms of procedural fairness at the local level</p>
    <form action="/about.html">
      <button>More Info</button>
    </form>
  </section> <!-- end section hero -->
  <section class="media">
    <h2>IN THE MEDIA</h2>
    <ul>
      <li><a href="#">this is some link to in the media</a></li>
      <li><a href="#">this is some link to in the media</a></li>
      <li><a href="#">this is some link to in the media</a></li>
    </ul>
  </section> <!-- end section media -->
</div>
<div class="row">
  <section class="research">
    <h2>RESEARCH</h2>
    <ul>
      <li><a href="/developing-local-human-watch-approaches.html">Developing local human rights approaches to prevent multicultural conflicts</a></li>
      <li><a href="/procedural-fairness-criteria.html">Procedural fairness criteria: relative weight and synergetic effects</a></li>
      <li><a href="/relevance-of-self-levels.html">The relevance of self-levels in procedural fairness effects</a></li>
      <li><a href="/contextual-variation-in-procedural-fairness.html">Contextual variation in procedural fairness and its effects</a></li>
      <li><a href="/integrating-procedural-fairness-in-local-approaches.html">Integrating procedural fairness in local approaches to multicultural conflicts</a></li>
    </ul>
  </section> <!-- end section research -->
  <!-- <section class="output"> -->
  <!--   <h2>PEOPLE</h2> -->
  <!--   <p>Info over nieuwe medewerkers</p> -->
  <!-- </section> -->
</div> <!-- end div row -->
