<div class="about">
  <header class="pageheader">
    <h1>Multicultural Procedural Fairness</h1>
  </header>
  <section class="content">
    <p>Diverse maatschappijen hebben nood aan een alomvattende aanpak van multiculturele conflicten. Dit multidisciplinaire onderzoeksproject draagt bij tot de kennis over de aanpak van multiculturele conflicten op lokaal niveau. Het project gebruikt de theorie van ‘procedurele rechtvaardigheid’ in de zoektocht naar duurzame oplossingen voor diversiteitsproblematieken rond taal, cultuur en religie.</p>
    <p>Het project loopt van oktober 2016 tot 2021 en is een samenwerking tussen onderzoekers in de mensenrechten (geleid door prof. dr. Eva Brems), de sociale psychologie (geleid door prof. dr. Alain Van Hiel) en de sociologie (geleid door prof. dr. Bart Van De Putte).</p>
    <p>Onderzoekers in de mensenrechten:</p>
    <ul>
      <li><a href="/tess-heirwegh.html">Tess Heirwegh</a></li>
      <li><a href="/catherine-van-de-graaf.html">Cathérine Van de Graaf</a></li>
    </ul>
    <p>Onderzoeker in de sociale psychologie:</p>
    <ul>
      <li><a href="/barbara-valcke.html">Barbara Valcke</a></li>
    </ul>
    <p>Onderzoeker in de sociologie:</p>
    <ul>
      <li><a href="/thomas-van-roey.html">Thomas Van Roey</a></li>
    </ul>
    <p>De informatie op deze website is voornamelijk beschikbaar in het Engels. Voor toelichting over het onderzoek in het Nederlands kan u zich wenden tot de <a href="/people.html">onderzoekers</a></p>
  </section><!-- .content -->
</div>
