---
title: People
description: People from human rights law, social psychology and sociology collaborating on the project
---

<div class="people">
  <header class="pageheader">
    <h1>PEOPLE</h1>
  </header>
  <div class="researchers">
    <% data.members.each do |member| %>
      <%= partial "member", locals: { member: member } %>
    <% end %>
  </div><!-- .researchers -->
</div><!-- .people -->
