---
title: privacy
description: "Je antwoorden op deze vragenlijst worden vertrouwelijk behandeld door de onderzoekers van de Universiteit Gent. Enkel de onderzoekers hebben inzage in het geheel van de gegevens."
---

<div class="research-project">
  <aside class="sidebar">
    <figure>
      <%= image_tag "architecture.jpg" %>
    </figure>
  </aside>
  <section class="content">
    <header class="pageheader">
      <h1>Privacy</h1>
    </header>
    <h2>Bepalingen rond privacy en informatiebescherming</h2>
    <p>Uw antwoorden op deze vragenlijst worden vertrouwelijk behandeld door de onderzoekers van de Universiteit Gent. Enkel de onderzoekers hebben inzage in het geheel van de gegevens.</p>
    <p>Uw antwoorden worden enkel gebruikt voor de wetenschappelijke doeleinden van dit onderzoek.</p>
    <p>Uw deelname is volledig vrijwillig en heeft geen invloed op uw werksituatie.</p>
    <p>De onderzoekers van de Universiteit Gent zullen uw resultaten op een anonieme wijze bewaren, verwerken en rapporteren, op geen enkel moment zullen individuen kunnen worden geïdentificeerd.</p>
    <p>U heeft de mogelijkheid om uw deelname aan het onderzoek op ieder moment stop te zetten en uw antwoorden te laten verwijderen uit het databestand, en dit zonder opgave van reden.</p>
    <p>U kan op aanvraag een samenvatting van de onderzoeksbevindingen bekomen bij de onderzoekers.</p>
    <p>In de vragenlijst zitten onder andere een aantal vragen over uw persoonskenmerken. We hebben deze gegevens enkel nodig voor onze statistische analyses op groepsniveau.</p>
    <p>Alle gegevens worden bewaard op een beveiligde server van de Universiteit Gent waar enkel de onderzoekers toegang toe hebben.</p>
    <p>Voor meer informatie over het informatieveiligheidsbeleid van de Universiteit Gent, raadpleeg <a href="https://www.ugent.be/intranet/nl/op-het-werk/ict/informatieveiligheid">https://www.ugent.be/intranet/nl/op-het-werk/ict/informatieveiligheid</a></p>
    <p>Indien u nog verdere vragen heeft over deze privacy notice, contacteer dan de onderzoekers op <a href="mailto:slow@ugent.be">slow@ugent.be</a>.</p>
    <p>Wij danken u voor uw deelname,<br>
    Het onderzoeksteam van de Universiteit Gent<br>
Barbara, Kim &amp; Thomas</p>
    <h2>Dispositions sur la protection de la confidentialité et de l'information</h2>
    <p>Vos réponses au questionnaire seront traitées confidentiellement par les chercheurs de l'Université de Gand. Seulement les chercheurs ont accès à l'ensemble des données.</p>
    <p>Vos réponses ne seront utilisées qu'aux fins scientifiques de cette recherche.</p>
    <p>Votre participation est entièrement volontaire et n'affecte pas votre situation de travail.</p>
    <p>Les chercheurs de l'Université de Gand sauveront, traiteront et rapporteront vos résultats de manière anonyme, à aucun moment il sera possible d’identifier des individus.</p>
    <p>Vous avez la possibilité d'arrêter votre participation à la recherche à tout moment et de retirer vos réponses de la base de données, sans donner de raison.</p>
    <p>Vous pouvez obtenir un résumé des résultats de la recherche auprès les chercheurs sur demande.</p>
    <p>Le questionnaire comprend un certain nombre de questions sur vos caractéristiques personnelles. Nous avons seulement besoin de ces données pour nos analyses statistiques au niveau du groupe.</p>
    <p>Toutes les données sont sauvées sur un serveur sécurisé de l'Université de Gand auquel seuls les chercheurs ont accès.</p>
    <p>Pour plus d'informations sur la politique de sécurité de l'information de l'Université de Gand, veuillez consulter <a href="https://www.ugent.be/intranet/nl/op-het-werk/ict/informatieveiligheid">https://www.ugent.be/intranet/nl/op-het-werk/ict/informatieveiligheid</a> (en Néerlandais ou Anglais).</p>
    <p>Si vous avez d'autres questions concernant cette déclaration de confidentialité, veuillez contacter les chercheurs à l'adresse <a href="mailto:slow@ugent.be">slow@ugent.be</a>.</p>
    <p>Nous vous remercions de votre participation,<br>
    L'équipe de recherche de l'Université de Gand<br>
    Barbara, Kim et Thomas</p>
    
  </section><!-- end content section -->
</div><!-- end research div -->