---
title:
description:
---

<div class="research">
  <aside class="sidebar">
    <figure>
      <%= image_tag "piramid.jpg" %>
    </figure>
  </aside>
  <section class="content">
    <header class="pageheader">
      <h1>Procedural fairness criteria: relative weight and synergetic effects</h1>
    </header>
    <p>In this research theme, we focus on what relevant procedural fairness criteria can be applied in diverse contexts. Although some contextual variations can be expected with respect to the fairness criteria they elicit and the importance thereof, we hypothesize consistency in the beneficial effects of procedural fairness. A first question here is what cocktail of procedural fairness criteria promotes the highest levels on these target variables? This question is important, as it is still unclear what the relative importance of these criteria is. A second question relates to the outcomes. The new model explains proximal variables such as satisfaction with and attitudes toward local actors, and compliance with the decisions made, but also extends the array of dependent variables to distal variables. In this research theme we focus particularly on setting related outcomes.</p>
    <p>The studies are based on a qualitative analysis of procedural fairness and relevant measures, as well as on the large scale survey (see research theme 4 for an outline) which investigates the fairness criteria in relation to the target variables in multiple contexts. Fairness criteria that yield robust effects in multiple contexts in this large scale survey are selected for further investigation.</p>
    <h2>WP 1: qualitative data</h2>
    <p>Qualitative data are analyzed for references to particular combinations of procedural fairness criteria and their effects on the target variables.</p>
    <h2>WP 2: questionnaire studies</h2>
    <p>For these questionnaire studies (each sample contains minimally 200 respondents) we focus on the involved actors’ perception of relevant procedural fairness criteria in at least two specific contexts, and we investigate the main and interaction effects of perceived fairness criteria on the target variables. These studies involve a multicultural conflict in which we collect the specific target variables like compliance with decision and attitudes about the decision-maker, as well as broad variables like shared identity and trust (see research theme 4). At least one study is conducted in a company setting. This study allows us to show the relevance of our theory in the distinct literature of applied psychology. The array of relevant target variables is adapted to this specific situation, including variables like Organizational Citizenship Behavior, antisocial work behavior, job satisfaction, and turnover intentions. One of these samples will be solicited at a later moment in time to investigate the eventual reciprocal relationships between (perceptions of) the implemented fairness criteria and the target variable. It is indeed a possibility that, for example, high identifiers show a greater receptivity for inferring fairness from procedures, while fairness may bolster shared identity. Such a result would imply that both variables tend to reinforce one another.</p>
    <h2>WP 3: vignette studies</h2>
    <p>We develop a number of experimental vignettes, each of them featuring specific multicultural conflicts in which fairness criteria are manipulated. The hypothetical scenarios given to the participants (minimally 100) feature relevant issues like the wearing of religious symbols. A 2 (first fairness criterion: low versus high) x 2 (second fairness criterion: low versus high) factorial design is used in each study. Fairness rules are easily invoked in the participants’ minds and have often been used in previous studies on fairness.</p>
    <h2>WP 4: experimental studies</h2>
    <p>We conduct at least one experimental lab study using a 2 (first fairness criterion: low versus high) x 2 (second fairness criterion: low versus high) factorial design among 200 adult volunteers who will be recruited by advertisements to attend ‘a seminar on prejudice’. Previous research has amply shown that procedural fairness criteria can be manipulated in experimental settings by, for example, the experimenter granting voice or not, or by having read all information or only a part of it.</p>
    <p>In the particular experiment we run participants have to write separately in two groups a report about what they think to be possible remedies of prejudice after having viewed a videotape of Jane Elliot’s famous blue-brown eye method. In the next phase, the experimenter decides in a procedural fair (versus unfair) way on what arguments of the two group reports will be included in the summary report (in fact, all groups are provided with a report that basically reflects the other group’s opinions). The time the group spends on further working on the report and satisfaction with the experimenter and his/her decision are the dependent variables.</p>
  </section><!-- end content section -->
</div><!-- end research div -->
