---
title: The relevance of self-levels in procedural fairness effects
---

<div class="research">
  <header class="pageheader">
    <h1>The relevance of self-levels in procedural fairness effects</h1>
  </header>
  <section class="content">
    <p>Procedural fairness in addressing local multicultural conflicts proceeds through distinct levels of social needs, with distinctive effects on the target variables. This model will be tested in two ways, as a mediation model and a moderation model. First, we include state versions of the individual and collective needs (i.e., the degree to which participants feel that their social needs are satisfied in the particular situation), and probe into their mediating role. Second, we compare the reactions of chronically low versus high scoring individuals on the individual and collective needs. If procedural fairness appeals to particular needs, it should have an effect only among people with high scores on these needs. Research theme 3 also extends the array of dependent variables. The gist of this approach is that by acting in a procedurally fair manner, local actors have broad implications on distal variables like well-being, stress, health, and shared organizational identification.</p>
    <p>On the basis of research themes 2 and 4 we select the appropriate contexts and combinations of procedural fairness criteria (‘the best cocktail of fairness criteria’) which is contrasted with a low fairness regime.</p>
    <h2>WP1: qualitative data</h2>
    <p>Qualitative data are analyzed for references to the effects of procedural fairness on the target variables.</p>
    <h2>WP2: questionnaire studies</h2>
    <p>We administer questionnaires in at least two samples (including minimally 200 respondents) in a new setting, one of which is a company setting. As it is our explicit aim to broaden the scope of our dependent variables, we also administer distal variables located at the level of the individual, the in-group and the setting. For instance, we use well-validated questionnaires that probe into health variables like stress, physical and psychological health, and we try to collect objective data, like number of doctor visits and medication use. For the outcomes on the in-group and setting level, see research theme 5. Likewise, we expand the array of dependent variables in the study of the company. The questions we ask probe into (inter-)personal variables such as work related stress, ego depletion and burn-out (all of which validated scales exist), and eventually we hope to be able to include ‘hard measures’ like absenteeism and days of sick leave. Collective outcomes such as organizational commitment and trust in management are administered as well.</p>
    <p>Finally, one of the samples included in research theme 5 is selected for a third wave of data acquisition. Three-wave longitudinal data are ideal to investigate the mediating role of the (state) social need-variables between (perceptions of) the implemented fairness criteria and the target variables.</p>
    <h2>WP 3: vignette studies</h2>
    <p>We conduct vignette studies using a 2 (fair versus unfair) x 2 (low versus high score on individual needs) x 2 (low versus high score on collective needs) design. We predict a moderator effect between procedural fairness and personal needs on individual outcomes, and a similar moderation effect of fairness and collective needs on collective outcomes.</p>
    <h2>WP4. We conduct an experimental study in which procedural fairness is manipulated to study actual behavior.</h2>
    <p>The same experimental procedure as in research theme 2 is used, and social needs are measured. (A mix of) fairness criteria are implemented analogous to research theme 2, and the same dependent variables are solicited.</p>
  </section><!-- end content section -->
</div><!-- end research div -->
