---
title: Research
description: The project 'Multicultural Procedural Fairness' has 5 research lines
---

<div class="research">
  <header class="pageheader">
    <h1>RESEARCH</h1>
  </header>
  <div class="research-list">
    <% data.projects.each do |project| %>
      <%= partial "project", locals: { project: project } %>
    <% end %>
  </div><!-- .research-list -->
</div>
