---
title: Saïla Ouald Chaib
description: Saïla Ouald Chaib is a Postdoctoral Fellow at the Human Rights Centre of Ghent University
---

<article class="person">
  <header class="pageheader">
    <h1>Saïla Ouald Chaib</h1>
  </header>
  <aside>
    <%= image_tag 'sarah-van-leuven.jpg' %>
  </aside>
  <div class="content">
    <section class="bio"></section><!-- .bio -->
    <p>Saïla Ouald Chaib is a Postdoctoral Fellow at the Human Rights Centre of Ghent University. She obtained her doctoral law degree at Ghent University with the doctoral thesis “Belief in Justice. Towards More Inclusivity in and through the Freedom of Religion Case Law of the European Court of Human Rights”. Her research was conducted within the framework of an ERC funded project called “Strenghtening the European Court of Human Rights: More Accountability Through Better Legal Reasoning”. In her PhD thesis, she advances potential ways of improvement of the freedom of religion case law of the European Court of Human Rights, by using the social psychology notion of procedural justice. Saïla also conducted a study on national action plans against racism (NAPR) and racism and racial discrimination in Belgium in light of the adoption of a Belgian NAPR.</p>
    <p>Saïla is currently the project manager of the Human Rights Integration project and a collaborator a collaborator at the Human Rights Legal Clinic of the Human Rights Centre.</p>
    <p>Saïla is one of the co-founders and contributor to the blog Strasbourg Observers.</p>
    <p>Saïla’s research interests include Human Rights Law, Diversity, Freedom of Religion, Procedural Justice, Equality and Non-Discrimination and Research methodology.</p>
    <section class="contact">
      <h2>Contact</h2>
      <p><i class="fa fa-envelope"></i><a href="mailto:saila.oualdchaib@ugent.be">Saila.OualdChaib@UGent.be</a></p>
    </section><!-- .contact -->
  </div><!-- .content -->
</article>
