---
title: Tess Heirwegh
description: Tess Heirwegh is a PhD Research Fellow at the Human Rights Centre
---

<article class="person">
  <header class="pageheader">
    <h1>Tess Heirwegh</h1>
  </header>
  <aside>
    &nbsp;
  </aside>
  <div class="content">
    <section class="bio"></section><!-- .bio -->
    <p>Tess Heirwegh is a PhD Research Fellow at the Human Rights Centre. After finishing her studies in Law at Ghent University (Ghent, Belgium), she obtained a European Master’s Degree in Human Rights and Democratisation at EIUC (Venice, Italy) and Uppsala University (Uppsala, Sweden).</p>
    <p>She participates in the multi-disciplinary project ‘Procedural fairness in local approaches to multicultural conflicts’, which includes researchers in the fields of human rights law, psychology and sociology. Her PhD research focuses on the development of local human rights approaches to prevent and address multicultural conflicts.</p>
    <section class="contact">
      <h2>Contact</h2>
      <p><i class="fa fa-envelope"></i><a href="mailto:tess.heirwegh@ugent.be">Tess.Heirwegh@UGent.be</a></p>
    </section><!-- .contact -->
  </div><!-- .content -->
</article>
