---
title: Thomas Van Roey
description: Thomas Van Roey is a PhD Research Fellow at the Department of Sociology at Ghent University
---

<article class="person">
  <header class="pageheader">
    <h1>Thomas Van Roey</h1>
  </header>
  <aside>
    &nbsp;
  </aside>
  <div class="content">
    <section class="bio">
      <p>Thomas Van Roey is a PhD Research Fellow at the Department of Sociology at Ghent University. He obtained a Master of Arts degree in History at Ghent University (2014) and a Master of Arts degree in Nationalism Studies at Central European University (CEU Budapest, 2016).</p>
      <p>His research interests include multiculturalism, social identity and transnational migration. During his time at CEU in Budapest he worked as an intern at the Hungarian office of the International Organization for Migration (IOM), contributing to a project on the integration of persons under international protection in the local labour market.</p>
      <p>He participates in the multi-disciplinary project ‘Procedural fairness in local approaches to multicultural conflicts’, which includes researchers in the field of human rights law, social psychology and sociology. His research focuses on the impact of socio-cultural and structural contextual variation on procedural fairness perceptions in local multicultural conflicts, and how this conditions collective outcomes of social identification and trust among ethnic-cultural, religious and linguistic minorities.</p>
    </section><!-- .bio -->
    <section class="contact">
      <h2>Contact</h2>
      <p><i class="fa fa-envelope"></i><a href="mailto:thomas.vanroey@ugent.be">Thomas.VanRoey@UGent.be</a></p>
    </section><!-- .contact -->
  </div><!-- .content -->
</article>
